.work-shift {

    &__error-text {
        color: red;
        font-weight: 600;
    }

    &__dialog {
        padding: 10px 15px;
        text-align: center;
    }

    &__pay {
        display: flex;
        justify-content: center;
    }

    &__pay-type {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        margin: 15px;
        cursor: pointer;
        background-color: #d1deed;
        color: #fff;

        &--active {
            background-color: cornflowerblue;
        }
    }
}

.close-shift {
    &__dialog {
        padding: 15px;
    }
}