.sellers-block {
    box-shadow: 2px 3px 10px 0 #606060;
    overflow: hidden;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: whitesmoke;
    color: #303030;
    margin: 10px;

    &__header {
        padding: 15px;
        display: flex;
        color: white;
        justify-content: space-between;
        background-color: #3f51b5;
    }

    &__title {
        font-weight: 600;
        align-self: center;
    }

    &__add-icon {
        margin-right: 10px;
        color: green;
    }

    &__available-products-list {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    &__available-item {
        display: flex;
        align-items: center;
        padding: 10px;

        &:hover{
            cursor: pointer;
            font-weight: 600;
        }
    }

    &__table-head {
        background-color: #80bbbb;
        border-bottom: 2px solid #303030;
    }

    &__empty {
        padding: 10px 0;
    }

    &__menu-button {
        cursor: pointer;
    }

    &__button-confirm {
        margin: 10px;
    }
}