.users-list-item {
    display: flex;
    padding: 10px;
    border: 1px solid slategray;
    border-radius: 10px;
    background-color: thistle;
    color: #303030;
    flex-direction: column;
    margin: 5px 0;
    transition: opacity .3;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    &__name {
        font-size: 18px;
    }
    
    &__role {
        font-size: 14px;
        color: saddlebrown;
    }
}