.seller {
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    color: #303030;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        background-color: cornflowerblue;
    }

    &__content {
        display: flex;
        flex: 1;
        height: 100%;
        flex-direction: column;
        background-color: #1c2d46;
    }

    &__side-bar {
        display: flex;
        flex-direction: column;
        min-width: 150px;
        padding: 10px 15px;
        background-color: #d1deed;
    }
    
    &__current-user {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    &__order {
        min-width: 220px;
        padding: 25px;
        background-color: #303030;
        color: whitesmoke;
        overflow-y: auto;
    }

    &__table-form {
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-y: auto;
    }

    &__orders-list {
        display: flex;
        flex-direction: column;
        background-color: floralwhite;
        margin: 15px;
        border-radius: 5px;

        &-item {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            margin: 5px 0;
            background-color: gainsboro;
        }
    }
}