.reports {
    &__create {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    &__table-row--href {
        cursor: pointer;
        transition: color ease 0.4s;
        &:hover {
            color: cornflowerblue;
            background-color: rgba(132, 128, 194, 0.712);
        }
    }

    &__card {
        width: fit-content;
    }

    &__shift-item {
        display: flex;
        padding: 5px 10px;
        margin: 10px 0;
        background-color: whitesmoke;
        border-left: 5px solid cornflowerblue;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        &--elem {
            margin: 0 5px;
        }
        &--link {
            margin: 0 5px;
            color: cadetblue;
            cursor: pointer;
            &:hover {
                color: cornflowerblue;
            }
        }
        &--active {
            background-color: cornsilk;
        }
    }
}