.navlink {
    color: #303030;
    text-decoration: none;
    
    &:hover {
        opacity: 0.7;
    }

    &--bold {
        font-weight: 600;
    }
    
    &--text {
        transition: .3s;
        margin: 0 10px;
        color: cadetblue;
        &:hover {
            color: cornflowerblue;
        }       
    }
}

.manager {
    &__wrapper {
        display: flex;
        height: 100vh;
        width: 100%;
        color: #303030;
    }
    &__sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: #1f1f1f;
        &-logo-container {
            background: #1f1f1f;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
        }
        &-logo {
            display: block;
            width: 100px;
            margin: 0 30px;
        }
        &-navlink {
            width: 100%;
            height: 100%;
            padding: 10px 35px 10px 15px;
            text-decoration: none;
            color: floralwhite;
            transition: background-color 0.3s;
            border-radius: 20px 0 0 20px;
            &--active {
                background-color: dimgray;
                position: relative;
                &:hover {
                    background-color: dimgray;
                }
            }
        }
        &-list {
            list-style: none;
            list-style-type: none;
            margin: 0;
            &-item {
                display: flex;
                cursor: pointer;
                border-radius: 20px 0 0 20px;
                transition: background-color 0.3s;
                &:hover {
                    background-color: #3b3b3b;
                }
            }
        }
    }
    &__content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__topbar {
        background: #1f1f1f;
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }
    &__content {
        padding: 15px;
    }
    &__exit-btn {
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: silver;
        }
    }
}