.start-shift {
    text-align: center;

    &__markets-container {
        margin: 10px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: whitesmoke;
        border-radius: 5px;
    }

    &__market-item {
        padding: 10px;
        background-color: cadetblue;
        margin: 5px 0;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        width: fit-content;

        &:hover {
            background-color: cornflowerblue;
        }
    }

    &__reports-container {
        margin: 10px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: whitesmoke;
        border-radius: 5px;
        width: fit-content;
    }

    &__report-item {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: skyblue;
        margin: 5px 0;
        border-radius: 5px;
        cursor: pointer;
        color: #303030;
        text-align: left;
    }

    &__report-item-content {
        display: flex;
        justify-content: space-between;
    }
}