.workers-content {
    &__table-block {
        width: fit-content;
        padding: 15px;
        background-color: cornsilk;
        border-radius: 10px;
    }
    &__user-href {
        cursor: pointer;
        transition: color ease 0.4s;
        &:hover {
            color: cornflowerblue;
        }
    }
}