.count-control {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d1deed;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    min-height: 80px;
    min-width: 200px;
    position: relative;

    &--active {
        background-color: cornflowerblue;
        cursor: auto;
    }

    &__button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        outline: none;
        margin: 5px;
        cursor: pointer;
    }

    &__button-reset {
        height: 25px;
        width: 25px;
        background-color: orangered;
        border-radius: 50%;
        outline: none;
        border: none;
        color: white;
        margin: 10px;
        cursor: pointer;
        position: absolute;
        right: -15px;
        top: -15px;
        z-index: 5;
    }

    &__value {
        font-weight: 600;
        padding: 0 10px;
    }
}